<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guidemaps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOKAdq54s6h9mfraV0bzrfUG672iavQ9k" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".User.PlaceActivity"
            android:exported="false" />
        <activity
            android:name=".User.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".User.PostPlaces"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.SignUp"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.Login"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.RetailerStartUpScreen"
            android:exported="false" />
        <activity
            android:name=".User.AllCategories"
            android:exported="false" />
        <activity
            android:name=".Common.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>